:root {
  --gray: #444444;
  --white:  aliceblue;
  --blue: rgb(20, 63, 255);
  
}

.custom-jumbotron {
  background-color: var(--gray);
  color: var(--light);
}

input {
width: 86%;
}
 
button {
  background-color: rgb(7, 137, 243);
  color: var(--white);
}


.list-group-item {
  list-style-type: none;
}

.currentWeather {
  background-color: var(--blue);
  color: var(--white);
  width: 20%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;

}