:root {
  --gray: #444444;
  
}

.custom-jumbotron {
  background-color: var(--gray);
  color: var(--light);
}

input {
width: 86%;
}
 
button {
  background-color: rgb(7, 137, 243);
  color: aliceblue;
}